<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
</head>
<body>
<p th:fragment="headerElement" th:remove="tag">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" 
crossorigin="anonymous"></script>
</p>

<!-- List of Countries -->

<div th:fragment="countrylist">
<select id="country" th:name="country" th:field="${family.address.country}">
   <option th:value=null>Select Country</option>
	<option th:value="Afganistan">Afghanistan</option>
   <option th:value="Albania">Albania</option>
   <option th:value="Algeria">Algeria</option>
   <option th:value="'American Samoa'">American Samoa</option>
   <option th:value="Andorra">Andorra</option>
   <option th:value="Angola">Angola</option>
   <option th:value="Anguilla">Anguilla</option>
   <option th:value="'Antigua & Barbuda'">Antigua & Barbuda</option>
   <option th:value="Argentina">Argentina</option>
   <option th:value="Armenia">Armenia</option>
   <option th:value="Aruba">Aruba</option>
   <option th:value="Australia">Australia</option>
   <option th:value="Austria">Austria</option>
   <option th:value="Azerbaijan">Azerbaijan</option>
   <option th:value="Bahamas">Bahamas</option>
   <option th:value="Bahrain">Bahrain</option>
   <option th:value="Bangladesh">Bangladesh</option>
   <option th:value="Barbados">Barbados</option>
   <option th:value="Belarus">Belarus</option>
   <option th:value="Belgium">Belgium</option>
   <option th:value="Belize">Belize</option>
   <option th:value="Benin">Benin</option>
   <option th:value="Bermuda">Bermuda</option>
   <option th:value="Bhutan">Bhutan</option>
   <option th:value="Bolivia">Bolivia</option>
   <option th:value="Bonaire">Bonaire</option>
   <option th:value="'Bosnia & Herzegovina'">Bosnia & Herzegovina</option>
   <option th:value="Botswana">Botswana</option>
   <option th:value="Brazil">Brazil</option>
   <option th:value="'British Indian Ocean Ter'">British Indian Ocean Ter</option>
   <option th:value="Brunei">Brunei</option>
   <option th:value="Bulgaria">Bulgaria</option>
   <option th:value="'Burkina Faso'">Burkina Faso</option>
   <option th:value="Burundi">Burundi</option>
   <option th:value="Cambodia">Cambodia</option>
   <option th:value="Cameroon">Cameroon</option>
   <option th:value="Canada">Canada</option>
   <option th:value="'Canary Islands'">Canary Islands</option>
   <option th:value="'Cape Verde'">Cape Verde</option>
   <option th:value="'Cayman Islands'">Cayman Islands</option>
   <option th:value="'Central African Republic'">Central African Republic</option>
   <option th:value="Chad">Chad</option>
   <option th:value="'Channel Islands'">Channel Islands</option>
   <option th:value="Chile">Chile</option>
   <option th:value="China">China</option>
   <option th:value="'Christmas Island'">Christmas Island</option>
   <option th:value="'Cocos Island'">Cocos Island</option>
   <option th:value="Colombia">Colombia</option>
   <option th:value="Comoros">Comoros</option>
   <option th:value="Congo">Congo</option>
   <option th:value="'Cook Islands'">Cook Islands</option>
   <option th:value="'Costa Rica'">Costa Rica</option>
   <option th:value="'Cote DIvoire'">Cote DIvoire</option>
   <option th:value="Croatia">Croatia</option>
   <option th:value="Cuba">Cuba</option>
   <option th:value="Curaco">Curacao</option>
   <option th:value="Cyprus">Cyprus</option>
   <option th:value="'Czech Republic'">Czech Republic</option>
   <option th:value="Denmark">Denmark</option>
   <option th:value="Djibouti">Djibouti</option>
   <option th:value="Dominica">Dominica</option>
   <option th:value="'Dominican Republic'">Dominican Republic</option>
   <option th:value="'East Timor'">East Timor</option>
   <option th:value="Ecuador">Ecuador</option>
   <option th:value="Egypt">Egypt</option>
   <option th:value="'El Salvador'">El Salvador</option>
   <option th:value="'Equatorial Guinea'">Equatorial Guinea</option>
   <option th:value="Eritrea">Eritrea</option>
   <option th:value="Estonia">Estonia</option>
   <option th:value="Ethiopia">Ethiopia</option>
   <option th:value="'Falkland Islands'">Falkland Islands</option>
   <option th:value="'Faroe Islands'">Faroe Islands</option>
   <option th:value="Fiji">Fiji</option>
   <option th:value="Finland">Finland</option>
   <option th:value="France">France</option>
   <option th:value="'French Guiana'">French Guiana</option>
   <option th:value="'French Polynesia'">French Polynesia</option>
   <option th:value="'French Southern Ter'">French Southern Ter</option>
   <option th:value="Gabon">Gabon</option>
   <option th:value="Gambia">Gambia</option>
   <option th:value="Georgia">Georgia</option>
   <option th:value="Germany">Germany</option>
   <option th:value="Ghana">Ghana</option>
   <option th:value="Gibraltar">Gibraltar</option>
   <option th:value="'Great Britain'">Great Britain</option>
   <option th:value="Greece">Greece</option>
   <option th:value="Greenland">Greenland</option>
   <option th:value="Grenada">Grenada</option>
   <option th:value="Guadeloupe">Guadeloupe</option>
   <option th:value="Guam">Guam</option>
   <option th:value="Guatemala">Guatemala</option>
   <option th:value="Guinea">Guinea</option>
   <option th:value="Guyana">Guyana</option>
   <option th:value="Haiti">Haiti</option>
   <option th:value="Hawaii">Hawaii</option>
   <option th:value="Honduras">Honduras</option>
   <option th:value="'Hong Kong'">Hong Kong</option>
   <option th:value="Hungary">Hungary</option>
   <option th:value="Iceland">Iceland</option>
   <option th:value="Indonesia">Indonesia</option>
   <option th:value="India">India</option>
   <option th:value="Iran">Iran</option>
   <option th:value="Iraq">Iraq</option>
   <option th:value="Ireland">Ireland</option>
   <option th:value="'Isle of Man'">Isle of Man</option>
   <option th:value="Israel">Israel</option>
   <option th:value="Italy">Italy</option>
   <option th:value="Jamaica">Jamaica</option>
   <option th:value="Japan">Japan</option>
   <option th:value="Jordan">Jordan</option>
   <option th:value="Kazakhstan">Kazakhstan</option>
   <option th:value="Kenya">Kenya</option>
   <option th:value="Kiribati">Kiribati</option>
   <option th:value="'Korea North'">Korea North</option>
   <option th:value="'Korea South'">Korea South</option>
   <option th:value="Kuwait">Kuwait</option>
   <option th:value="Kyrgyzstan">Kyrgyzstan</option>
   <option th:value="Laos">Laos</option>
   <option th:value="Latvia">Latvia</option>
   <option th:value="Lebanon">Lebanon</option>
   <option th:value="Lesotho">Lesotho</option>
   <option th:value="Liberia">Liberia</option>
   <option th:value="Libya">Libya</option>
   <option th:value="Liechtenstein">Liechtenstein</option>
   <option th:value="Lithuania">Lithuania</option>
   <option th:value="Luxembourg">Luxembourg</option>
   <option th:value="Macau">Macau</option>
   <option th:value="Macedonia">Macedonia</option>
   <option th:value="Madagascar">Madagascar</option>
   <option th:value="Malaysia">Malaysia</option>
   <option th:value="Malawi">Malawi</option>
   <option th:value="Maldives">Maldives</option>
   <option th:value="Mali">Mali</option>
   <option th:value="Malta">Malta</option>
   <option th:value="'Marshall Islands'">Marshall Islands</option>
   <option th:value="Martinique">Martinique</option>
   <option th:value="Mauritania">Mauritania</option>
   <option th:value="Mauritius">Mauritius</option>
   <option th:value="Mayotte">Mayotte</option>
   <option th:value="Mexico">Mexico</option>
   <option th:value="'Midway Islands'">Midway Islands</option>
   <option th:value="Moldova">Moldova</option>
   <option th:value="Monaco">Monaco</option>
   <option th:value="Mongolia">Mongolia</option>
   <option th:value="Montserrat">Montserrat</option>
   <option th:value="Morocco">Morocco</option>
   <option th:value="Mozambique">Mozambique</option>
   <option th:value="Myanmar">Myanmar</option>
   <option th:value="Nambia">Nambia</option>
   <option th:value="Nauru">Nauru</option>
   <option th:value="Nepal">Nepal</option>
   <option th:value="'Netherland Antilles'">Netherland Antilles</option>
   <option th:value="Netherlands">Netherlands (Holland, Europe)</option>
   <option th:value="Nevis">Nevis</option>
   <option th:value="'New Caledonia'">New Caledonia</option>
   <option th:value="'New Zealand'">New Zealand</option>
   <option th:value="Nicaragua">Nicaragua</option>
   <option th:value="Niger">Niger</option>
   <option th:value="Nigeria">Nigeria</option>
   <option th:value="Niue">Niue</option>
   <option th:value="'Norfolk Island'">Norfolk Island</option>
   <option th:value="Norway">Norway</option>
   <option th:value="Oman">Oman</option>
   <option th:value="Pakistan">Pakistan</option>
   <option th:value="'Palau Island'">Palau Island</option>
   <option th:value="Palestine">Palestine</option>
   <option th:value="Panama">Panama</option>
   <option th:value="'Papua New Guinea'">Papua New Guinea</option>
   <option th:value="Paraguay">Paraguay</option>
   <option th:value="Peru">Peru</option>
   <option th:value="Phillipines">Philippines</option>
   <option th:value="'Pitcairn Island'">Pitcairn Island</option>
   <option th:value="Poland">Poland</option>
   <option th:value="Portugal">Portugal</option>
   <option th:value="'Puerto Rico'">Puerto Rico</option>
   <option th:value="Qatar">Qatar</option>
   <option th:value="'Republic of Montenegro'">Republic of Montenegro</option>
   <option th:value="'Republic of Serbia'">Republic of Serbia</option>
   <option th:value="Reunion">Reunion</option>
   <option th:value="Romania">Romania</option>
   <option th:value="Russia">Russia</option>
   <option th:value="Rwanda">Rwanda</option>
   <option th:value="'St Barthelemy'">St Barthelemy</option>
   <option th:value="'St Eustatius'">St Eustatius</option>
   <option th:value="'St Helena'">St Helena</option>
   <option th:value="'St Kitts-Nevis'">St Kitts-Nevis</option>
   <option th:value="'St Lucia'">St Lucia</option>
   <option th:value="'St Maarten'">St Maarten</option>
   <option th:value="'St Pierre & Miquelon'">St Pierre & Miquelon</option>
   <option th:value="'St Vincent & Grenadines'">St Vincent & Grenadines</option>
   <option th:value="Saipan">Saipan</option>
   <option th:value="Samoa">Samoa</option>
   <option th:value="'Samoa American'">Samoa American</option>
   <option th:value="'San Marino'">San Marino</option>
   <option th:value="'Sao Tome & Principe'">Sao Tome & Principe</option>
   <option th:value="'Saudi Arabia'">Saudi Arabia</option>
   <option th:value="Senegal">Senegal</option>
   <option th:value="Seychelles">Seychelles</option>
   <option th:value="'Sierra Leone'">Sierra Leone</option>
   <option th:value="Singapore">Singapore</option>
   <option th:value="Slovakia">Slovakia</option>
   <option th:value="Slovenia">Slovenia</option>
   <option th:value="'Solomon Islands'">Solomon Islands</option>
   <option th:value="Somalia">Somalia</option>
   <option th:value="'South Africa'">South Africa</option>
   <option th:value="Spain">Spain</option>
   <option th:value="'Sri Lanka'">Sri Lanka</option>
   <option th:value="Sudan">Sudan</option>
   <option th:value="Suriname">Suriname</option>
   <option th:value="Swaziland">Swaziland</option>
   <option th:value="Sweden">Sweden</option>
   <option th:value="Switzerland">Switzerland</option>
   <option th:value="Syria">Syria</option>
   <option th:value="Tahiti">Tahiti</option>
   <option th:value="Taiwan">Taiwan</option>
   <option th:value="Tajikistan">Tajikistan</option>
   <option th:value="Tanzania">Tanzania</option>
   <option th:value="Thailand">Thailand</option>
   <option th:value="Togo">Togo</option>
   <option th:value="Tokelau">Tokelau</option>
   <option th:value="Tonga">Tonga</option>
   <option th:value="'Trinidad & Tobago'">Trinidad & Tobago</option>
   <option th:value="Tunisia">Tunisia</option>
   <option th:value="Turkey">Turkey</option>
   <option th:value="Turkmenistan">Turkmenistan</option>
   <option th:value="'Turks & Caicos Is'">Turks & Caicos Is</option>
   <option th:value="Tuvalu">Tuvalu</option>
   <option th:value="Uganda">Uganda</option>
   <option th:value="'United Kingdom'">United Kingdom</option>
   <option th:value="Ukraine">Ukraine</option>
   <option th:value="'United Arab Erimates'">United Arab Emirates</option>
   <option th:value="'United States of America'">United States of America</option>
   <option th:value="Uraguay">Uruguay</option>
   <option th:value="Uzbekistan">Uzbekistan</option>
   <option th:value="Vanuatu">Vanuatu</option>
   <option th:value="'Vatican City State'">Vatican City State</option>
   <option th:value="Venezuela">Venezuela</option>
   <option th:value="Vietnam">Vietnam</option>
   <option th:value="'Virgin Islands (Brit)'">Virgin Islands (Brit)</option>
   <option th:value="'Virgin Islands (USA)'">Virgin Islands (USA)</option>
   <option th:value="'Wake Island'">Wake Island</option>
   <option th:value="'Wallis & Futana Is'">Wallis & Futana Is</option>
   <option th:value="Yemen">Yemen</option>
   <option th:value="Zaire">Zaire</option>
   <option th:value="Zambia">Zambia</option>
   <option th:value="Zimbabwe">Zimbabwe</option>
</select>
</div>
</body>
</html>